* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --hue: 223;
  /* --bg: hsl(var(--hue), 10%, 90%); */
  --bg: #f3f0f0;
  --fg: hsl(var(--hue), 10%, 10%);
  --primary: hsl(var(--hue), 90%, 50%);
  --trans-dur: 0.3s;
  --trans-timing: cubic-bezier(0.65, 0, 0.35, 1);
  font-size: calc(16px + (24 - 16) * (100vw - 320px) / (2560 - 320));
}
a {
  color: var(--primary);
  transition: color var(--trans-dur);
}
body,
button {
  color: var(--fg);
  font: 1em/1.5 "IBM Plex Sans", sans-serif;
}
body {
  background-color: var(--bg);
  height: 100vh;
  transition: background-color var(--trans-dur), color var(--trans-dur);
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto 50px;
    max-width: 960px;
    width: 100%;
  }

  #hero h1 {
    font-size: 2em;
  }



.btn {
  background-color: var(--fg);
  border-radius: 0.25em;
  color: var(--bg);
  cursor: pointer;
  padding: 0.375em 0.75em;
  transition: background-color calc(var(--trans-dur) / 2) linear,
    color var(--trans-dur);
  -webkit-tap-highlight-color: transparent;
}
.btn:hover {
  background-color: hsl(var(--hue), 10%, 50%);
}
.btn-group {
  display: flex;
  gap: 0.375em;
  margin-bottom: 1.5em;
}
.timeline {
  margin: auto;
  padding: 0 1.5em;
  width: 100%;
  max-width: 36em;
}
.timeline__arrow {
  background-color: transparent;
  border-radius: 0.25em;
  cursor: pointer;
  flex-shrink: 0;
  margin-inline-end: 0.25em;
  outline: transparent;
  width: 2em;
  height: 2em;
  transition: background-color calc(var(--trans-dur) / 2) linear,
    color var(--trans-dur);
  -webkit-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
}
.timeline__arrow:focus-visible,
.timeline__arrow:hover {
  background-color: hsl(var(--hue), 10%, 50%, 0.4);
}
.timeline__arrow-icon {
  display: block;
  pointer-events: none;
  transform: rotate(-90deg);
  transition: transform var(--trans-dur) var(--trans-timing);
  width: 100%;
  height: auto;
}
.timeline__date {
  font-size: 0.833em;
  line-height: 2.4;
}
.timeline__dot {
  background-color: currentColor;
  border-radius: 50%;
  display: inline-block;
  flex-shrink: 0;
  margin: 0.625em 0;
  margin-inline-end: 1em;
  position: relative;
  width: 0.75em;
  height: 0.75em;
}
.timeline__item {
  position: relative;
  padding-bottom: 2.25em;
}
.timeline__item:not(:last-child):before {
  background-color: currentColor;
  content: "";
  display: block;
  position: absolute;
  top: 1em;
  left: 2.625em;
  width: 0.125em;
  height: 100%;
  transform: translateX(-50%);
}
[dir="rtl"] .timeline__arrow-icon {
  transform: rotate(90deg);
}
[dir="rtl"] .timeline__item:not(:last-child):before {
  right: 2.625em;
  left: auto;
  transform: translateX(50%);
}
.timeline__item-header {
  display: flex;
}
.timeline__item-body {
  border-radius: 0.375em;
  overflow: hidden;
  margin-top: 0.5em;
  margin-inline-start: 4em;
  height: 0;
}
.timeline__item-body-content {
  background-color: hsl(var(--hue), 10%, 50%, 0.2);
  opacity: 0;
  padding: 0.5em 0.75em;
  visibility: hidden;
  transition: opacity var(--trans-dur) var(--trans-timing),
    visibility var(--trans-dur) steps(1, end);
}
.timeline__item-media img{
  border-radius: 5px;
}
.timeline__item-media video{
  border-radius: 5px
}
.row {
  display: flex;
}
.column {
  flex: 50%;
  padding: 5px;
}
.column img{
  width: 100%;
  border-radius: 5px;
}
.column video{
  width: 100%;
  border-radius: 5px;
}
.timeline__meta {
  width: 100%;
}
.timeline__title {
  font-size: 1.5em;
  line-height: 1.333;
}
/* Expanded state */
.timeline__item-body--expanded {
  height: auto;
}
.timeline__item-body--expanded .timeline__item-body-content {
  opacity: 1;
  visibility: visible;
  transition-delay: var(--trans-dur), 0s;
}
.timeline__arrow[aria-expanded="true"] .timeline__arrow-icon {
  transform: rotate(0);
}

/* Dark theme */
/* @media (prefers-color-scheme: dark) {
  :root {
    --bg: hsl(var(--hue), 10%, 10%);
    --fg: hsl(var(--hue), 10%, 90%);
    --primary: hsl(var(--hue), 90%, 70%);
  }
} */


.custom-btn, .custom-btn-2{
    font-size: 16px;
}
.custom-btn {
  margin: 20px;
  outline: none;
  width: 130px;
  height: 40px;
  padding: 10px 25px;
  border: 2px solid #000;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.custom-btn-2 {
    width: 110px;
    height: 40px;
    border: 2px solid var(--fg);
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
  }

.btn-6 {
    background: var(--fg);
    color: var(--bg);
    line-height: 42px;
    padding: 0;
    border: none;
  }
  .btn-6 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-6:before,
  .btn-6:after {
    position: absolute;
    content: "";
    height: 0%;
    width: 2px;
    background: var(--fg);
  }
  .btn-6:before {
    right: 0;
    top: 0;
    transition: all 500ms ease;
  }
  .btn-6:after {
    left: 0;
    bottom: 0;
    transition: all 500ms ease;
  }
  .btn-6:hover {
    color: var(--fg);
    background: transparent;
  }
  .btn-6:hover:before {
    transition: all 500ms ease;
    height: 100%;
  }
  .btn-6:hover:after {
    transition: all 500ms ease;
    height: 100%;
  }
  .btn-6 span:before,
  .btn-6 span:after {
    position: absolute;
    content: "";
    background: var(--fg);
  }
  .btn-6 span:before {
    left: 0;
    top: 0;
    width: 0%;
    height: 2px;
    transition: all 500ms ease;
  }
  .btn-6 span:after {
    right: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    transition: all 500ms ease;
  }
  .btn-6 span:hover:before {
    width: 100%;
  }
  .btn-6 span:hover:after {
    width: 100%;
  }

  .btn-11 {
    transition: all 0.3s ease;
    color: var(--fg);
  }
  .btn-11:hover {
    background: var(--fg);
    color: var(--bg);
  }
